.lc-editor {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;

  .lc-editor-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    .lc-editor-canvas-viewport {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;

      left: 50%;
      top: 50%;
      transform-origin: 0px 0px;
      transform: scale(1) translate(-50%, -50%);
    }
  }

  .lc-editor-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .lc-editor-content-frame {
      border: none;
      transform-origin: 0 0;
      height: 100%;
      width: 100%;
    }
  }
}

.lc-component-container {
  position: absolute;
  border: none;
  user-select: none;
  touch-action: none;
  pointer-events: auto;

  &.mask {
    cursor: move !important;
  }

  .lc-component-mask {
    position: absolute;
  }

  .lc-component {
    &.mask {
      pointer-events: none;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.08;
  }
  50% {
    opacity: 0.16;
  }
  to {
    opacity: 0.08;
  }
}
